<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles class="well drop-zone" 
            [archivos]="archivos"
            [ngClass]="{'file-over': estaSobreElemento}" 
            (mouseSobre)="estaSobreElemento =$event">
            <h4>Deje caer aqui los archivos</h4>
            <img src="assets/img/drop-images.png" alt="">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar Archivos</h4>
        <button (click)='cargarImagenes()' class="btn btn-success" [disabled]='archivos.length === 0'>Cargar a
            Firebase</button>
        <button (click)="limpiarArchivo()" class="btn btn-danger">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos"
                    [ngClass]="{'text-green': archivo.progreso >= 100}">
                    <td>{{archivo.nombreArchivo}}</td>
                    <td>{{archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"  [ngStyle]="{ 'width': archivo.progreso + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>